body {
    background-image: url(../../images/pattern-background-mobile.svg);
    background-color: $very-pale-blue;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Red Hat Display', sans-serif;

    .content{
        margin-top: 3rem;
        height: 35rem;
        width: 20rem;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);

            .illustration-mobile {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            
            h1 {
                margin-top: 1.8rem;
                font-size: 1.4em;
                font-weight: 900;
                text-align: center;
                color: $dark-blue;
            }

            p{
                font-size: 16px;
                text-align: center;
                line-height: 1.6em;
                color: $desaturated-blue;
            }

            .payment {
                height: 5rem;
                width: 17rem;
                margin: 1.2rem auto;
                background-color: $very-pale-blue;
                border-radius: 20px;
                display: flex;
                align-items: center;

                .music {
                    margin-left: 1rem;
                    // margin-right: 0.1rem;
                }

                .annual {
                    // border: red solid 2px;
                    width: 8rem;

                    p{
                        color: $dark-blue;
                        font-size: 1em;
                        text-align: center;
                        font-weight: 900;
                        line-height: 0.5em;
                    }

                    .price {
                        font-weight: 500;
                    }
                }

                a{
                    font-size: 0.9em;
                    font-weight: 700;
                    margin-left: 0.6rem;
                }
            }
            
            button{
                display: block;
                margin: auto;
                height: 3.2rem;
                width: 17rem;
                font-weight: 700;
                color: #fff;
                background: $bright-blue;
                box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.199);
                border-radius: 12px;
                border: none;
                
                &:hover {
                    filter: brightness(150%);
                    cursor: pointer;
                }
            }

                .cancel-order {
                    font-size: 16px;
                    font-weight: 700;
                    text-decoration: none;
                    color: $desaturated-blue;

                        span  {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 1.5rem;
                        }
                }


    }

    @include breakpoint(web){
        background-image: url(../../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: $very-pale-blue;

        .content {
             height: 35rem;
             width: 23rem;
             margin-top: 5rem;

             .payment {
                 margin-top: 1rem;
                 width: 18rem;

                    a {
                        font-size: 12px;
                        margin-left: 1.5rem;
                    }
        
             }

             
             button {
                 height: 2.5rem;
                 width: 18rem;
                 font-size: 12px;

                &:hover {
                    filter: brightness(150%);
                    cursor: pointer;
                }
             }


             .cancel-order{
                 font-size: 12px;
             }
        }
    }
}
