.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 2rem;

    position: absolute;
    width: 27rem;
    height: 40rem;
    background-color: #fff;

    img{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }

    h1{
        font-weight: 900;
        margin-top: 2.5rem; 
        text-align: center;
        color: $dark-blue;
    }

    p{
        margin-top: 0.5rem;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 1.5em;
        color: $desatured-blue;
    }

    .plan{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 20rem;
        height: 5rem;
        border-radius: 15px;
        background: $very-pale-blue;

            .music{
                width: 2.6rem;
                height: 2.6rem;
                margin-left: 10px;
                margin-right: 20px;
            }

            .plan-annual{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 13rem;
            }

            .plan-annual p{
                font-size: 16px;
                text-align: justify;

                color: $desatured-blue;
            }

            .plan-annual span{
                color: $dark-blue;
                font-weight: 900;
            }

            .change {
                font-size: 16px;
                font-weight: 700;
                color: $bright-blue;   
                text-decoration: none;
                margin-left: 28px;
            }
        
        
    }

    button {
        width: 20rem;
        height: 2.8rem;
        margin-top: 2rem;
        border-radius: 10px;
        box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.144);

        background-color: $bright-blue;
        color: white;
        border: none;
        
        &:hover{
            filter: brightness(150%);
            cursor: pointer;
        }
    }


    .cancel-order {
        margin-top: 2rem;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
        color: $dark-blue;
    }
}